{{twitter-typeahead
  content=events
  displayKey="name"
  valueToken="id"
  }}

<h2>Events without a Reservation</h2>
<ul>
  {{#each unreservedEvents as |event|}}
    <li><a href='#' {{action 'select' event}}>{{event.name}}</a></li>
  {{/each}}
</ul>
