{{#each hours as |hour|}}
  <div class='grid major-grid' style={{gridWidthStyle}}></div>
  <div class='grid minor-grid' style={{gridWidthStyle}}></div>
{{/each}}


{{#each reservable.reservations as |reservation|}}
  {{reservation-block reservation=reservation hourWidth=hourWidth
    trackStart=start}}
{{/each}}
