{{#each hours as |hour|}}
  <div class='major-grid' style={{gridWidthStyle}}></div>
  <div class='minor-grid' style={{gridWidthStyle}}></div>
{{/each}}


{{#each place.reservations as |reservation|}}
  {{reservation-block reservation=reservation hourWidth=hourWidth
    trackStart=start}}
{{/each}}
