@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "bower_components/font-awesome/scss/font-awesome";
@import "table";

$background: #EBF1F5;

html, body {
  margin: 0px;
  padding: 0px;
  background: $background;
  font-family: sans-serif;
}

#header {
  background: white;
  border-bottom: 2px solid darken(#fff, 5);
  width: 100%;
  height: 49px;

  #search {
    overflow: hidden;
    width: auto;

    input {
      width: 100%;
      font-size: 1.4em;
      padding: 0.4em;
      border: none;
      outline: none;
      border-bottom: 4px solid transparent;

      &:focus {
        border-color: gray;
      }

      @include transition(border-color 0.1s linear);
    }
  }

  select {
    float: right;
    font-size: 1em;
    background: white;
    border-radius: 3px;
    padding: 0em 0.4em;
    height: 100%;
    border: none;
    border-left: 1px solid darken(#fff, 5);
  }

  #sidebar_toggle {
    float: left;
    width: 50px;
    height: 100%;
    border-right: 1px solid darken(#fff, 5);
    text-align: center;
    padding: 13px 0em;
  }
}

.con-nav {
  background: white;
  border-bottom: 3px solid darken($background, 10);

  ul {
    list-style-type: none;
    display: block;
    padding: 2em 1em 0.4em 1em;
    margin: 0px;
  }

  li {
    display: inline;
    font-size: 1.2em;
    color: #777;

    a {
      text-decoration: none;
      padding: 6px 10px;
      margin: 0px 10px;
      color: #777;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8em;
      border-bottom: 3px solid transparent;

      &:hover {
        border-color: gray;
        color: #444;
      }

      &.active {
        border-color: #3BB0FA;
        color: black;
      }

      @include transition(border-color 0.1s linear);
    }
  }
}

.content {
  padding: 0em 1em;
  @include outer-container;

  h2 {
    @include span-columns(12);
    padding: 1em;
  }

  .full {
    @include span-columns(12);
    padding: 0em 1em;
  }

  .area-name {
    font-size: 2em;
    border: none;
  }
}

.map-tool {
  width: 100%;

  .shadow {
    box-shadow: inset 0px 2px 4px #eee, inset 0px -2px 4px #eee;
    width: 100%;
    height: 400px;
    position: absolute;
    pointer-events: none;
  }

  svg {
    width: 100%;
    height: 400px;
    background: #fff;

    .area {
      fill-opacity: 10%;
      stroke-width: 1px;
      stroke: #135;
      fill: #357;

      &:hover {
        fill-opacity: 20%;
      }

      &.is-selected {
        fill-opacity: 40%;
      }
    }

    circle.temp {
      fill: red;
    }

    polyline.temp {
      fill: none;
      stroke: red;
      stroke-width: 1;
    }
  }

  .toolbar {
    a {
      text-decoration: none;
      color: #357;

      &:hover {
        color: #135;
      }
    }
  }
}
