.map-tool {
  width: 800px;
  height: 400px;

  svg {
    width: 800px;
    height: 400px;
    background: #eee;

    .area {
      fill-opacity: 10%;
      stroke-width: 1px;
      stroke: #135;
      fill: #357;

      &:hover {
        fill-opacity: 20%;
      }

      &.is-selected {
        fill-opacity: 40%;
      }
    }
  }
}
