<h1>Events</h1>
{{link-to 'New' 'con.events.new'}}

<table>
<tbody>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  {{#each event in model}}
    <tr>
      <td>{{event.id}}</td>
      <td>{{link-to event.name 'con.events.event' event}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
