<h1>Events</h1>
{{link-to 'New' 'con.events.new'}}

<table>
<tbody>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Schedule</th>
  </tr>
  {{#each event in model}}
    <tr>
      <td>{{event.id}}</td>
      <td>{{link-to event.name 'con.events.show' event}}</td>
      <td>{{schedule-info start=event.start finish=event.finish}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
