<div id='header'>
  {{view 'select'
    content=cons
    optionValuePath="content.id"
    optionLabelPath="content.name"
    value=activeCon
    prompt="Select Con..."}}

  <div id='sidebar_toggle'>
    {{fa-icon 'bars'}}
  </div>
  <div id='search'>
    {{input value=search classNames='search' placeholder='Search'}}
  </div>
</div>

{{outlet}}
