<div id='header'>
  {{input value='search' classNames='search'}}

  <select>
    {{#each con in model}}
      <option>{{link-to con.name 'con' con}}</option>
    {{/each}}
  </select>
</div>

{{outlet}}
