<div class='content'>
  <h2>{{model.name}}</h2>
</div>

{{map-tool model=model createMapArea='createMapArea' selectedMapArea=selectedMapArea}}

{{#if selectedMapArea}}
  <div class='content'>
    <div class='full'>
      {{input value=selectedMapArea.area.name class='area-name'}}
    </div>
  </div>
{{/if}}
