<div class='page-heading'>
  <h1>Events</h1>
  <div class='actions'>
    {{#link-to 'convention.events.new' classNames='btn'}}{{fa-icon 'plus'}} New{{/link-to}}
  </div>
</div>

<table>
<tbody>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Schedule</th>
  </tr>
  {{#each event in model}}
    <tr>
      <td>{{event.id}}</td>
      <td>{{link-to event.name 'convention.events.show' event}}</td>
      <td>{{schedule-info start=event.start finish=event.finish}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
